%%[


/*********************************** Seccion Variables Adobe ************************************/
 
set @negocio = 'CO' /*CO HC*/
set @canal = 'EMAIL' /*CANAL PUSH WA SMS EMAIL GEOPUSH*/
set @tipo = 'CAT' /*PPA PPM CAT INFO PDP XLP PAGE GF BEACON*/
 
set @prefix  = concat('eid=666_NEGOCIO=',@negocio,'_CANAL=',@canal,'_TIPO=',@tipo,'_PROCESO_ID=',proceso_id)                     
 
/*********************************** Fin Seccion Variables Adobe *******************************/


]%%


%%[
       /*********************************** Secciï¿½n Huincha CMR ************************************/
            
        var @content_loyalty_cmr
        
        IF empty(TOTAL_PUNTOS_CMR) THEN
        set @content_loyalty_cmr =    
        
        concat('
       <table cellpadding="0" cellspacing="0" width="600" height="35" align="center" bgcolor="#e6e6e6" class="huinchasDinamicas">
  <tr>
           <td align="center" height="5" width="75%" style="font-family: Helvetica, arial, sans-serif; font-size:16px; line-height: 16px; color: #3d4245; text-align: center; vertical-align: middle;"><img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/ic_cmrpuntos.png" alt="Cliente sin puntos cmr" width="30" height="17" border="0"> Si a&uacute;n no participa del Programa CMR Puntos, inscr&iacute;base aqu&iacute; <a href="https://www.falabella.com/falabella-cl/page/cmr-puntos-ayuda?eid=666_NEGOCIO=CO_JOBID=',@JOBID,'_TIPO=EMKT_EMAIL=',@emailName_,'_PROCESOID=',@PROCESO_ID,'" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/arrow-right.png" alt="Ir a programa cmr puntos" style="position: absolute; padding-top: 3px;"> </a></td>
         </tr>
</table>
')
        
        
        ENDIF
        
        IF (NOT EMPTY(TOTAL_PUNTOS_CMR)) AND (MARCA_LOYALTY_CMR=='ELITE') THEN
        
        set @content_loyalty_cmr = 
          concat('
<table cellpadding="0" cellspacing="0" width="600" height="35" align="center" bgcolor="#000000" class="huinchasDinamicas">
  <tr>
    <td height="5" width="18%" align="left" style="font-family: Helvetica, arial, sans-serif; font-size:18px; line-height: 16px; color:#ffffff; text-aling:left; padding-left: 8px; vertical-align: middle;"> Cliente Elite</td>
    <td align="left" width="10%"><img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/ic_diamante-clienteElite.png" alt="Cliente Elite" width="35" height="35" border="0"></td>
    <td height="5" width="60%" align="right" style="font-family: Helvetica, arial, sans-serif; font-size:16px; line-height: 16px; color:#ffffff; text-aling:right; vertical-align: middle;"> Tiene acumulados ', FormatNumber(TOTAL_PUNTOS_CMR, "N0", "es-CL"), '</td>
    <td align="left"><a href="https://www.falabella.com/falabella-cl/page/Puntos-CMR" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/cmrpuntos-elite.png" alt="CMR Puntos" width="90" height="35" style="max-width: 90px; vertical-align: middle;"> </a></td>
  </tr>
</table>
')
          
        ENDIF
        
        IF (NOT EMPTY(TOTAL_PUNTOS_CMR)) AND (MARCA_LOYALTY_CMR=='PREMIUM') THEN
        set @content_loyalty_cmr =  
        
           concat('
<table cellpadding="0" cellspacing="0" width="600" height="35" align="center" bgcolor="#898584" class="huinchasDinamicas">
  <tr>
    <td height="5" width="26%" align="left" style="font-family: Helvetica, arial, sans-serif; font-size:18px; line-height: 16px; color:#ffffff; text-aling:left; padding-left: 8px; vertical-align: middle;"> Cliente Premium</td>
    <td align="left" width="7%"><img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/ic_estrella-clientePremium.png" alt="Cliente Premium" width="35" height="35" border="0"></td>
    <td height="5" width="60%" align="right" style="font-family: Helvetica, arial, sans-serif; font-size:16px; line-height: 15px; color:#ffffff; text-aling:right; vertical-align: middle;"> Tiene acumulados ', FormatNumber(TOTAL_PUNTOS_CMR, "N0", "es-CL"), '</td>
    <td align="left" width="7%"><a href="https://www.falabella.com/falabella-cl/page/Puntos-CMR" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/cmrpuntos-premium.png" alt="CMR Puntos" width="90" height="35" style="max-width: 90px; vertical-align: middle;"> </a></td>
  </tr>
</table>
')
        
        ENDIF
        
        IF (NOT EMPTY(TOTAL_PUNTOS_CMR)) AND (MARCA_LOYALTY_CMR=='NORMAL' OR MARCA_LOYALTY_CMR=='FAN') THEN
        set @content_loyalty_cmr =     
        
        concat('
<table cellpadding="0" cellspacing="0" width="600" height="35" align="center" bgcolor="#e60746" class="huinchasDinamicas">
  <tr>
    <td height="5" width="18%" align="left" style="font-family: Helvetica, arial, sans-serif; font-size:18px; line-height: 16px; color:#ffffff; text-aling:left; padding-left: 8px; vertical-align: middle;"> Cliente Fan</td>
    <td align="left" width="12%"><img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/ic_corazon-clienteFan.png" alt="Cliente Fan" width="35" height="35" border="0"></td>
    <td height="5" width="60%" align="right" style="font-family: Helvetica, arial, sans-serif; font-size:16px; line-height: 16px; color:#ffffff; text-aling:right; vertical-align: middle;"> Tiene acumulados ', FormatNumber(TOTAL_PUNTOS_CMR, "N0", "es-CL"), '</td>
    <td align="left" width="10%"><a href="https://www.falabella.com/falabella-cl/page/Puntos-CMR" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2020/template_shc/images/cmrpuntos-fan.png" alt="CMR Puntos" width="90" height="35" style="max-width: 90px; vertical-align: middle;"> </a></td>
  </tr>
</table>
')
        
        
        ENDIF
        
        
/*********************************** Fin Secciï¿½n Huincha CMR ************************************/
        
]%% 

<!--HUINCHAS CMR DINAMICAS-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="sbgMail">
  <tr>
    <td align="center" class="cuerpoMail" style="padding-top: 8px;"><!--HUINCHA CMR--> 
      
      %%[ IF NOT EMPTY(TOTAL_PUNTOS_CMR) and TOTAL_PUNTOS_CMR > 0 and NOT EMPTY(MARCA_LOYALTY_CMR) THEN ]%%
      %%=v(@content_loyalty_cmr)=%%
      %%[ ENDIF ]%% 
      
      <!--FIN HUINCHA CMR-->
      
      <custom name="opencounter" type="tracking">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Sodimac</title>
        
        <!-- Custom Logo -->
        
        <div itemscope="" itemtype="http://schema.org/Organization">
          <meta itemprop="name" content="Sodimac">
          <meta itemprop="logo" content="https://www.sodimac.cl/static/envioweb/2019/shared/logo-sodimac-avatar.png">
          <meta name="color-scheme" content="light dark">
          <meta name="supported-color-schemes" content="light dark">
        </div>
        <style type="text/css">
/* body{background-color: #FFFFFF !important;} */
html{-webkit-text-size-adjust:none; -ms-text-size-adjust:none; color: inherit;}
body{width:100%; margin:0 auto; padding:0px;}
a,a:link,a:visited{text-decoration:none; color:#0072ce;}
a,body,table,td{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
:root {Color-scheme: light dark; supported-color-schemes:light dark;}
/*** media para dark mode - lo toman algunas versiones de outlook ***/
@media (prefers-color-scheme: dark ) {
/* body{background-color: #3c3c3c !important;} */
.sbgMail tbody tr td.cuerpoMail {background-color: #FFFFFF !important;}
}
</style>
        
      <!--HEADER-->
      <table width="600" cellspacing="0" cellpadding="0" align="center" style="  display:block; background-color:#000000; " bgcolor="#000000">
        <tr>
          <td align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl?',@prefix))=%%" target="_blank"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/logo-pro-header.png" alt="Ir a Todo Constructor" width="257" height="68" style="display:block; margin:auto;" title="Sodimac"> </a></td>
          <td align="center"><a href="https://wa.me//56999129057" target="_blank"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/wsp-pro-header.png" alt="Compra telefónica" width="169" height="68" class="width100" style="display:block; margin:auto; border:none; " title="venta telefónica a través del 600 600 1230"> </a></td>
          <td align="center"><a href="https://socl.onelink.me/umPF/btqdyt3s" target="_blank"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/app-pro-header.png" alt="Descargue nuestra app Sodimac desde Google Play" width="174" height="68" style="display:block; margin:auto; border:none; " title="Sodimac"> </a></td>
        </tr>
      </table>
      <!--Fin HEADER-->

        <!-- START BODY -->

      <!---START Vitrina--->



      <table width="600" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td colspan="2" align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/content/especial-renovacion?sid=SO_HO__379316?',@prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2025/03-marzo/20-renovacion/images/20-renovacion-0.png" alt="Ir a especial-renovacion" style="display:block;" border="0"> </a></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/content/como-elegir-la-pintura-correcta?',@prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2025/03-marzo/20-renovacion/images/20-renovacion-1.png" alt="Ir a como-elegir-la-pintura-correcta" style="display:block;" border="0"> </a></td>
        </tr>
        
      </table>


      <table width="600" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td colspan="2" align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/lista/cat20792242/Pinturas?',@prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2025/03-marzo/20-renovacion/images/20-renovacion-2.png" alt="Ir a Pinturas" style="display:block;" border="0"> </a></td>

          <td colspan="2" align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/lista/CATG10741/Pisos-y-revestimientos?',@prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2025/03-marzo/20-renovacion/images/20-renovacion-3.png" alt="Ir a Pisos-y-revestimientos" style="display:block;" border="0"> </a></td>
        </tr>
        
      </table>


      <table width="600" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td colspan="2" align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/lista/cat2026/Decoracion?',@prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/2025/03-marzo/20-renovacion/images/20-renovacion-4.png" alt="Ir a Decoracion" style="display:block;" border="0"> </a></td>
        </tr>
      </table>







  
    

            <!-- FIN BODY -->
    
           <!-- ***** FOOTER ***** -->
<!-- HUINCHAS-->
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/content/satisfaccion-garantizada?', @prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/satispro-ban.png" alt="Satisfacción garantizada" width="204" height="185" style="display:block;" border="0"> </a></td>
      <td align="center"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl/content/precios-mas-pro?', @prefix))=%%" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/precios-ban.png" alt="Precios + Pro" width="193" height="185" style="display:block;" border="0"> </a></td>
      <td align="center"><a href="https://socl.onelink.me/umPF/btqdyt3s" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/descargapro-ban.png" alt="Descarga nuestra app" width="203" height="185" style="display:block;" border="0"> </a></td>
    </tr>
  </table>
  <!-- FIN - HUINCHAS --> 
  <!--- SCOM --->
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0070c2">
    <tr>
      <td style="font-size: 0px; line-height: 0px;"><a href="%%=RedirectTo(concat('https://www.sodimac.cl/sodimac-cl?', @prefix))=%%" target="_blank "><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/sodcompro2-ban.png" alt="ir a sodimac.com" width="600" height="62" style="display:block; " border="0"></a></td>
    </tr>
  </table>
  <!---FIN - SCOM --->
  <!--- Venta Telefónica y whatssap --->              
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0070c2">
    <tr>
      <td style="font-size: 0px; line-height: 0px;"><a href="tel:6006001230" target="_blank "><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/venta-telefonica.png" alt="Venta telefónica" style="display:block; width:100%;" border="0"></a></td>
    </tr>
  </table>
  <!--- FIN - Venta Telefónica y whatssap --->  
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0070c2">
    <tr>
      <td align="center" style="font-size: 0px; line-height: 0px;"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/blank1.png" alt="blank" width="600" height="16" style="display:block;" border="0"></td>
    </tr>
  </table>
  <!--- RRSS --->
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0070c2" class="">
    <tr>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank1.png" alt="blank rrss 1" width="110" height="42" style="display:block" border="0"></td>
      <td><a href="https://www.facebook.com/homecenter/" target="_blank"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/facebook-icon.png" alt="Facebook Sodimac constructor" width="40" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank2.png" alt="blank rrss 2" width="28" height="42" style="display:block" border="0"></td>
      <td><a href="https://www.instagram.com/homecenter_cl/" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/instagram-icon.png" alt="instagram constructor" width="40" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank3.png" alt="blank rrss 3" width="28" height="42" style="display:block" border="0"></td>
      <td><a href="https://twitter.com/homecenter_cl/" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/x-icon.png" alt="Twitter sodimac" width="40" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank4.png" alt="blank rrss 4" width="28" height="42" style="display:block" border="0"></td>
      <td><a href="https://www.pinterest.es/homecentercl/_created/" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/pinterest-icon.png" alt="Pinterest sodimac" width="40" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank5.png" alt="blank rrss 5" width="29" height="42" style="display:block" border="0"></td>
      <td><a href="https://www.tiktok.com/@sodimac.cl/" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/tiktok-icon.png" alt="Tik Tok" width="38" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank5-18.png" alt="blank rrss 6" width="30" height="42" style="display:block" border="0"></td>
      <td><a href="https://www.youtube.com/user/lacasadechile" target="_blank"> <img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/youtube-icon.png" alt="Youtube constructor" width="38" height="42" style="display:block" border="0"> </a></td>
      <td><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/rblank6.png" alt="blank rrss 7" width="111" height="42" style="display:block" border="0"></td>
    </tr>
  </table>
  <!--- FIN - RRSS --->
  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#0070c2">
    <tr>
      <td align="center"><img src="https://www.sodimac.cl/static/envioweb/plantillas-emails/2024/pro/cierreblank.png" alt="blank cierre" width="600" height="26" style="display:block;" border="0"></td>
    </tr>
  </table>
  
  <!--- ---> 
  <!-- ***** FIN - FOOTER ***** --> 
  <!--- ---> 
  
 



    %%[ IF NOT EMPTY(TOTAL_PUNTOS_CMR) and TOTAL_PUNTOS_CMR > 0 and NOT
    EMPTY(MARCA_LOYALTY_CMR) THEN ]%%
    <table cellpadding="0" cellspacing="0" align="center" width="600">
      <tr>
        <td colspan="2" align="center" style="font-family:Helvetica, sans-serif;text-align:center;font-size:12px;color:#333;line-height:13px; padding:10px 5px;">
          <b>T&eacute;rminos y condiciones CMR Puntos.</b> Stock y
          Categor&iacute;a de CMR Puntos informada en correo
          electr&oacute;nico.
        </td>
      </tr>
    </table>
    %%[ ENDIF ]%%

  </custom></td>
</tr>
</table>



